<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Recuperar contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="resetPasswordForm" (ngSubmit)="generateNewPass()">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput class="form-control full-width-input" placeholder="Contraseña"
                        formControlName="password" type="password" #input3 name="password" required>
                    <label class="botonOjo" (click)="changeInput(input3)"><i class="material-icons">
                            {{iconoPass}}
                        </i></label>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput class="form-control full-width-input" placeholder="Contraseña"
                        formControlName="confirm_password" #input4 type="password" name="confirm_password"
                        required>
                    <label class="botonOjo" (click)="changeInput(input4)">
                        <i class="material-icons">
                            {{iconoPass}}
                        </i>
                    </label>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button type="submit" mat-raised-button class="azulVeo"
                    [disabled]="!resetPasswordForm.valid">Cambiar</button>
            </mat-card-actions>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="!checkTokenPasswd && resetPass">
    <mat-error>El enlace para cambiar su contraseña ha expirado</mat-error>
</mat-card>
