.container {
    margin: 0 auto;
    min-width: 30em;
    text-align: center;
    padding-top: 10px;
}

div.mat-dialog-actions {
    width: 12em;
    margin: auto;
}

.radioButton {
    text-align: left;
    margin-bottom: 1em;
    padding-left: 0.2em;
}

