.example-container {
    //width: 66em;
    min-height: 650px !important;
    max-height: 24em !important;
    
    background-color: white;
    // overflow-x: hidden;
}

// .save {
//     margin-top: 1em
// }
mat-nav-list {
    height: 37em;
}