<div class="container">
    <h3 mat-dialog-title>¿Seguro que deseas eliminar este {{ENTIDAD}}?</h3>
    <div mat-dialog-content>
        Id: {{tipoEntidad.id_tipo_entidad}}
        <p></p>
        {{ENTIDAD}}: {{tipoEntidad.tipo_entidad}}
        <p></p>
    </div>

    <div mat-dialog-actions>
        <button mat-button id="deleteTipoEntidad" (click)="confirmDelete()">Eliminar {{ENTIDAD}}</button>
        <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
</div>