<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="unidad_centro">
        <th mat-header-cell *matHeaderCellDef>
          <input matInput [formControl]="unidadCentroFilter" placeholder="Unidad Centro"  maxlength="5" required>
          <span mat-sort-header></span>
        </th>
        <td mat-cell *matCellDef="let unidadCentro"> {{unidadCentro.unidad_centro}} </td>
      </ng-container>

      <ng-container matColumnDef="ciclo">
        <th mat-header-cell *matHeaderCellDef>
          <input matInput [formControl]="cicloFilter" placeholder="Nombre Ciclo">
          <span mat-sort-header></span>
        </th>
        <td mat-cell *matCellDef="let unidadCentro"> {{unidadCentro.ciclo}} </td>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <th mat-header-cell *matHeaderCellDef>
          <input matInput [formControl]="observacionesFilter" placeholder="Observaciones">
          <span mat-sort-header></span>
        </th>
        <td mat-cell *matCellDef="let unidadCentro"> {{unidadCentro.observaciones}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="addUnidadesCentro()">
            <mat-icon>
              add_circle
            </mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let unidadCentro">
          <button mat-icon-button (click)="datosUnidadCentro(unidadCentro)">
            <mat-icon>
                assignment
            </mat-icon>
          </button>
          <!--
            <button mat-icon-button (click)="editUnidadesCentro(unidadCentro)">
              <mat-icon>
                mode_edit
              </mat-icon>
            </button>
          -->
          <button mat-icon-button (click)="deleteUnidadesCentro(unidadCentro)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

</div>
