.mat-dialog-content {
    overflow: hidden;
    width: 18em;
}

.container {
    margin: 0 auto;
    width: 18em;
    text-align: center;
    padding-top: 10px;
}

div.mat-dialog-actions {
    width: 12em;
    margin: auto;
}