<mat-sidenav-container class="datos-entidad-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item mat-list-item (click)="navega('datos-basicos-entidad')"> Entidad </mat-list-item>
            <mat-list-item mat-list-item (click)="navega('contactos-entidad')"> Contactos </mat-list-item>
            <mat-list-item mat-list-item (click)="navega('unidades')"> Ciclos Formativos </mat-list-item>
        </mat-nav-list>
        <button mat-button class="save" (click)="save()">Guardar</button>
        <button mat-button class="onNoClick" (click)="onNoClick()">Cancelar</button>
    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet name="sidebar"></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>