.datos-entidad-container {
    //width: 73em;
    min-height: 40em !important;
    max-height: 40em !important;
    background-color: white;
    // overflow-x: hidden;
}

// .save {
//     margin-top: 1em
// }
mat-nav-list {
    height: 37em;
}