<div class="container">
    <h3 mat-dialog-title>Editar rol</h3>

    <form class="mat-dialog-content" [formGroup]="rolForm">

        <div class="form">
            <mat-form-field color="accent">
                <input matInput placeholder="Rol" formControlName="rol" name="rol" maxlength="100" required>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput placeholder="Observaciones" formControlName="observaciones"
                    name="observaciones"></textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button id="onSubmit" type="submit"  [disabled]="!rolForm.valid" (click)="confirmAdd()">Guardar</button>
            <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
        </div>

    </form>
</div>