<div class="example-container mat-elevation-z8">
  <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

          <ng-container matColumnDef="entidad">
              <th mat-header-cell *matHeaderCellDef>
                  <input matInput [formControl]="entidadFilter" placeholder="Entidad">
                  <span mat-sort-header></span>
              </th>
              <td mat-cell *matCellDef="let vacantesAlumnos"> {{ vacantesAlumnos.entidad }} </td>
          </ng-container>

          <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef>
              <input matInput [formControl]="unidadCentroFilter" placeholder="Unidad Centro">
              <span mat-sort-header></span>
            </th>
            <td mat-cell *matCellDef="let vacantesAlumnos"> {{ vacantesAlumnos.unidad_centro }} </td>
          </ng-container>

          <ng-container matColumnDef="num_alumnos">
              <th mat-header-cell *matHeaderCellDef>
                <input matInput placeholder="Número de alumnos">
                <span mat-sort-header></span>
              </th>
              <td mat-cell *matCellDef="let vacantesAlumnos"> {{ vacantesAlumnos.alumnos_asignados + '/' + vacantesAlumnos.num_alumnos }} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button (click)="addVacante()">
                      <mat-icon>
                          add_circle
                      </mat-icon>
                  </button>
              </th>
              <td mat-cell *matCellDef="let vacantesAlumnos">
                  <button mat-icon-button (click)="editVacante(vacantesAlumnos)">
                      <mat-icon>
                          view_list
                      </mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteVacante(vacantesAlumnos)">
                      <mat-icon>
                          delete
                      </mat-icon>
                  </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
