.datos-unidad-centro-container {
    min-height: 40em !important;
    max-height: 40em !important;
    background-color: white;
}

mat-nav-list {
    height: 37em;
}

mat-sidenav-content {
    width: 100%;
}