<mat-sidenav-container class="datos-unidad-centro-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item mat-list-item (click)="navega('datos-basicos-unidad-centro')"> Unidades Centro </mat-list-item>
            <mat-list-item mat-list-item (click)="navega('datos-basicos-alumnos')"> Alumnos </mat-list-item>
        </mat-nav-list>

        <button mat-button class="save" (click)="save()">Guardar</button>
        <button mat-button class="onNoClick" (click)="onNoClick()">Cancelar</button>
    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet name="sidebar"></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>