<div class="container">
    <h3 mat-dialog-title>¿Seguro que deseas eliminar este {{ENTIDAD}}?</h3>
    <div mat-dialog-content>
        Id: {{motivoReunion.id_motivo_reunion}}
        <p></p>
        {{ENTIDAD}}: {{motivoReunion.motivo_reunion}}
        <p></p>
    </div>

    <div mat-dialog-actions>
        <button mat-button id="deleteMotivoReunion" (click)="confirmDelete()">Eliminar {{ENTIDAD}}</button>
        <button mat-button id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
</div>