mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }

.signin-content {
    padding: 60px 1rem;
}

.full-width-input {
    width: 90%;
}

.mat-form-field {
    display: inline;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle {
  display: block;
  margin-bottom: 16px;
  text-align: -webkit-center;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
  