<div class="example-container mat-elevation-z8" >
    <div class="example-table-container">
        <table mat-table id="table" [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="id_usuario">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="idFilter" placeholder="Id">
                    <span mat-sort-header></span>
                </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.id_usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="usuarioFilter" placeholder="Usuario">
                    <span mat-sort-header></span>
                </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.usuario}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre_publico">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="nombreFilter" placeholder="Nombre">
                    <span mat-sort-header></span>
                </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.nombre_publico}} </td>
            </ng-container>

            <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef>
                    <input matInput [formControl]="rolFilter" placeholder="Rol">
                    <span mat-sort-header></span>
                </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.rol}} </td>
            </ng-container>

            <ng-container matColumnDef="habilitado">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Habilitado" (selectionChange)="buscarHabilitados($event)">
                            <mat-option value="todos">
                                Todos
                            </mat-option>
                            <mat-option value=1>
                                Si
                            </mat-option>
                            <mat-option value=0>
                                No
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.habilitado == '1' ? 'Sí' : 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <button id="addUsuario" mat-icon-button *ngIf="permises.add" (click)="addUsuario()">
                        <mat-icon>
                            add_circle
                        </mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let usuario">
                    <button id="editUsuario" mat-icon-button *ngIf="permises.edit" (click)="editUsuario(usuario)">
                        <mat-icon>
                            mode_edit
                        </mat-icon>
                    </button>
                    <button id="deleteUsuario" mat-icon-button *ngIf="permises.delete" (click)="deleteUsuario(usuario)">
                        <mat-icon>
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

</div>